/* popup mode */
html.ple-popup-mode {overflow: hidden;}


.ple-editor {
	position: relative;
	min-height: 480px;
	min-width: 640px;
	*, *:before, *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ple-container {
		margin: 0;
		padding: 0;
		-webkit-transition: margin-right 1s ease-out;
		transition: margin-right .3s ease-out;
	}
	.ple-body {}

	&.ple-side-active {
		.ple-container {
			margin-right: $sidebar-width;
		}
	}
}