.toolbar {
  --ple-toolbar-button-size: 42px;
  &__wrap {
    display: flex;
    margin: 0;
    height: var(--ple-toolbar-button-size, 42px);
    > dt {
      flex: 1;
      display: flex;
    }
    > dd {
      margin: 0;
      display: flex;
    }
  }
}
