@use "./mixins";

@import "~react-grid-layout/css/styles.css";
@import "~react-simple-colorpicker/src/ColorPicker/index.scss";

// root variables
.ple {
  // color
  --ple-color-background: transparent;
  --ple-color-text: #222;
  --ple-color-shape: #aaadb1;
  --ple-color-shape-strong: #727478;
  --ple-color-active: #20b292;
  --ple-color-panel-background: #626164;
  --ple-color-panel-toolbar-background: #444;
  // size
  --ple-size-min-width: 640px;
  --ple-size-min-height: 480px;
  --ple-size-max-width: none;
  --ple-size-max-height: none;
  --ple-size-panel-height: auto;
  // font
  --ple-font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ple-font-eng: Helvetica Neue, Arial, sans-serif;
}

// component - PhotoLayoutEditor
.ple {
  position: relative;
  display: flex;
  min-width: var(--ple-size-min-width, 640px);
  min-height: var(--ple-size-min-height, 480px);
  max-width: var(--ple-size-max-width, none);
  max-height: var(--ple-size-max-height, none);
  box-sizing: border-box;
  background-color: var(--ple-color-background);
  font-family: var(--ple-font-base);
  &__body {
    flex: 1;
    position: relative;
  }
  &__side {
    position: relative;
    display: none;
    width: var(--ple-side-width, 240px);
    height: var(--ple-size-panel-height, auto);
    &--on {
      display: block;
    }
  }
}

// popup mode
html.ple-popup-mode {
  overflow: hidden;
}
