@use "./libs/mixins";

// component - Panel
.ple .ple-panel {
  height: 100%;
  padding: 0;
  background-color: var(--ple-color-panel-background);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  // TODO: 커스텀 스크롤 만들기

  &__wrap {
    padding: 16px;
  }
  &__files {
    margin-top: 12px;
  }

  // component - Panel/Navigation
  .ple-navigation {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    div {
      flex: 1;
      &:nth-child(n+2) {
        margin-left: 1px;
      }
    }
    button {
      display: block;
      width: 100%;
      height: 36px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      background: var(--ple-color-panel-toolbar-background);
      cursor: pointer;
      outline: none;
      transition: opacity 200ms ease-out;
      &:active {
        opacity: .75;
      }
      &:disabled {
        opacity: .75;
        cursor: not-allowed;
        svg {
          opacity: .75;
        }
      }
      svg {
        --ple-icon-color: #eee;
        --ple-icon-size: 18px;
      }
    }
  }

  // component - Panel/Files
  .ple-files {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    > li {
      position: relative;
      box-sizing: border-box;
      padding-top: 100%;
      > * {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .ple-empty {}

  // component - Panel/File
  .ple-file {
    display: block;
    touch-action: pan-x;
    outline: none;
    text-indent: -9999px;
    cursor: pointer;
    > em {
      display: block;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: var(--background-image, none);
      background-color: #fff;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 4px solid var(--ple-color-active);
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 150ms ease-out;
    }
    &--active {
      &:after {
        opacity: 1;
      }
    }
  }
}
