@use "./libs/mixins";

// component - Toolbar
.ple .ple-toolbar {
  --ple-toolbar-button-size: 42px;
  &__wrap {
    display: flex;
    margin: 0;
    height: var(--ple-toolbar-button-size, 42px);
    > dt {
      flex: 1;
      display: flex;
    }
    > dd {
      margin: 0;
      display: flex;
    }
  }
}

// component - Toolbar/Button
.ple .ple-toolbar .ple-button {
  --ple-icon-size: 20px;
  --ple-icon-stroke: 2px;
  --ple-icon-color: #fff;
  display: block;
  width: var(--ple-button-size, 46px);
  height: var(--ple-button-size, 46px);
  margin: 0;
  padding: 0;
  background-color: var(--ple-color-shape);
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  &:active {
    opacity: .5;
  }
  &:focus {}
  &:disabled {
    cursor: default;
  }
  &:nth-child(n+2) {
    margin-left: 1px;
  }
}
