@use "./libs/mixins";

// component - Toolbar
.ple .ple-toolbar {
  --ple-toolbar-button-size: 42px;
  &__wrap {
    display: flex;
    margin: 0;
    height: var(--ple-toolbar-button-size, 42px);
    > dt {
      flex: 1;
      display: flex;
    }
    > dd {
      margin: 0;
      display: flex;
    }
  }
  &__preference {
    > div {
      position: relative;
    }
  }
  .ple-toggle {
    &--on {
      > svg {
        transform: scaleX(-1);
      }
    }
  }
}

// component - Toolbar/Button
.ple .ple-toolbar {
  .ple-button {
    --ple-icon-size: 20px;
    --ple-icon-stroke: 2px;
    --ple-icon-color: #fff;
    display: block;
    width: var(--ple-button-size, 46px);
    height: var(--ple-button-size, 46px);
    margin: 0;
    padding: 0;
    background-color: var(--ple-color-shape);
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    transition: opacity 200ms ease-out, background-color 200ms ease-out;
    > svg {
      margin: 0 auto;
    }
    &:active {
      opacity: .75;
    }
    //&:focus {
    //  background-color: var(--ple-color-shape-strong);
    //}
    &:disabled {
      cursor: default;
    }
    &:nth-child(n+2) {
      margin-left: 1px;
    }
    &--active {
      background-color: var(--ple-color-active);
    }
    &--focus {
      background-color: var(--ple-color-shape-strong);
    }
  }
}

// component - Toolbar/Preference
.ple .ple-preference {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 12px rgba(0,0,0,.25);
  border-radius: 2px;
  &__body {
    margin: 0;
    padding: 20px 24px 24px;
    border: none;
  }
  &__title {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -.2px;
    font-family: var(--ple-font-eng);
  }
  &__field {
    margin: 0;
    display: flex;
    align-items: center;
    &:nth-child(n+3) {
      margin-top: 6px;
    }
    > dt {
      width: 120px;
      font-size: 12px;
      font-weight: 500;
      font-family: var(--ple-font-eng);
    }
    > dd {
      flex: 1;
      margin: 0;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    input {
      display: block;
      margin: 0;
      padding: 0 8px;
      height: var(--ple-size, 32px);
      border-radius: 2px;
      outline: none;
      box-sizing: border-box;
      font-size: 15px;
      font-family: var(--ple-font-eng);
      border: 1px solid var(--ple-color-shape);
      box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
      transition: border-color 200ms ease-out;
      &:focus {
        border-color: var(--ple-color-shape-strong);
      }
    }
    span {
      display: block;
      font-size: 13px;
      margin-left: 6px;
    }
  }
  &__color {
    width: 32px;
    height: 32px;
    position: relative;
    > button {
      position: relative;
      display: block;
      box-sizing: border-box;
      width: var(--ple-size, 32px);
      height: var(--ple-size, 32px);
      margin: 0;
      padding: 4px;
      border: 1px solid var(--ple-color-shape);
      background: none;
      font-size: 0;
      cursor: pointer;
      outline: none;
      border-radius: 2px;
      transition: border-color 200ms ease-out;
      &:after {
        content: '';
        display: block;
        height: 100%;
        box-sizing: border-box;
        background-color: var(--color, #000);
        border-radius: 1px;
        box-shadow: inset 0 0 8px rgba(0,0,0,.15);
      }
      &.active {
        border-color: var(--ple-color-shape-strong);
      }
    }
    > div {
      position: absolute;
      right: 0;
      top: 0;
      > div {
        position: absolute;
        left: 8px;
        top: -16px;
        z-index: 2;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 4px rgba(0,0,0,.15), 0 1px 16px rgba(0,0,0,.15);
        border-radius: 1px;
      }
    }
  }
  &__nav {
    display: flex;
    span {
      display: block;
      flex: 1;
      &:nth-child(n+2) {
        margin-left: 1px;
      }
    }
    button {
      display: block;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      padding: 12px 0;
      font-size: 14px;
      color: #fff;
      border: none;
      border-radius: 0;
      cursor: pointer;
      font-weight: 600;
      transition: filter 200ms ease-out;
      &:active {
        filter: brightness(.9);
      }
      &[type=button] {
        background: var(--ple-color-shape);
      }
      &[type=submit] {
        background: var(--ple-color-shape-strong);
      }
    }
  }
}

// component - Toolbar/Switch
.ple .ple-switch {
  --ple-width: var(--ple-switch-width, 54px);
  --ple-height: var(--ple-switch-height, 28px);
  --ple-padding: var(--ple-switch-padding, 4px);
  --ple-margin: var(--ple-switch-margin, 2px) 0;
  position: relative;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  box-sizing: border-box;
  padding: var(--ple-margin);
  input {
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    pointer-events: none;
    outline: none;
  }
  i {
    display: inline-block;
    box-sizing: border-box;
    width: var(--ple-width);
    height: var(--ple-height);
    border-radius: calc(var(--ple-height) * .5);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.1), inset 0 0 0 1px var(--ple-color-shape);
    transition: box-shadow 200ms ease-out;
    &:after {
      content: '';
      display: block;
      width: calc(var(--ple-height) - calc(var(--ple-padding) * 2));
      height: calc(var(--ple-height) - calc(var(--ple-padding) * 2));
      margin: var(--ple-padding) 0 0 var(--ple-padding);
      background-color: var(--ple-color-shape);
      border-radius: 50%;
      transition: transform 200ms ease-out, background-color 200ms ease-out;
    }
  }
  input:focus + i {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.1), inset 0 0 0 1px var(--ple-color-shape-strong);
  }
  input:checked + i {
    &:after {
      --ple-pos: calc(var(--ple-width) - var(--ple-height));
      background-color: var(--ple-color-active);
      transform: translateX(var(--ple-pos));
    }
  }
}