body {
	margin: 15px;
}

// control
.api-control {
	margin: 30px 0 0;
	border-top: 1px solid #999;
	> section {
		margin: 20px 0;
		> h1 {
			font-size: 20px;
			color: #222;
			margin: 0 0 5px;
			padding: 0 0 0 5px;
		}
	}

	nav {
		font-size: 14px;
		padding: 3px 10px;
		background: #f1f1f1;
		p {
			margin: 8px 0;
		}
		button {
			padding: 8px 12px;
			margin: 0 5px 4px 0;
			font-size: 11px;
			background: #999;
			font-family: 'Helvetica', Arial, sans-serif;
			color: #fff;
			font-weight: 400;
			border: none;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}


#makeImageArea {
	margin: 0;
	padding: 15px;
	min-height: 100px;
	border: 1px dashed #20B292;
	canvas, img {
		display: block;
		margin: 0 auto;
		border: 1px solid rgba(0,0,0,.05);
	}
}